<div id="footer">
    <div class="navbar navbar-fixed-bottom">
        <div class="navbar-inner">
            <div class="container">
                <footer>
                    <div class="row">
                        <div class="span4">
                            Created by Roy Astronomia
                        </div>
                        <div class="span4">
                            Twitter: <a href="http://twitter.com/RoyAstronomia">@RoyAstronomia</a>
                        </div>
                        <div class="span4">
                            Blog: <a href="http://royastronomia.com">royastronomia.com</a>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>
